/* -------------------- Detail Page Contents -------------------- */
.main {
    display: flex;
    padding-top: 20px;
}


/* -------------------- Top Contents -------------------- */
/* .Detail_top {
    width: 100vh;
    height: 100px;
    box-shadow: 0px 3px 5px gray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */

.Logo_img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.Detail_down {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
}

.submit_button {
    margin-right: 30px;
    width: 100px;
    height: 30px;
    background-color: #ff8e47;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
}

/* -------------------- Left Contents -------------------- */
.Detail_left_Contents {
    margin: 0;
    padding-top: 50px;
    width: 20%;
    height: auto;
    border: 2px solid #ebebeb;
}

.Detail_left_guide {
    display : flex;
    align-items: center;
}

.Detail_left_number {
    margin: 0;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: gray;
    font-weight: bold;
}

.Detail_left_numbercheck {
    background-color: #ff8e47;
    color: white;
}

.left_text_main {
    margin: 0;
    margin-left: 10px;
    color: rgb(53, 53, 53);
    font-weight: bolder;
    font-size: 18px;
}

.Detail_left_text {
    margin: 0;
    margin-left: 10px;
    color: lightgray;
    font-weight: bold;
    font-size: 18px;
}


/* -------------------- Right Contents -------------------- */
.Detail_right_Contents {
    margin-left: -1px;
    width: 80%;
    height: auto;
    border: 2px solid #ebebeb;
}

.Detail_right_TopTitle {
    height: 50px;
    padding-top: 50px;
    display: flex;
    align-items: center;
}

.Detail_right_PayData {
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(80, 80, 80);
}

.toggle_button {
    margin-right: 20px;
}

.right_toggle_label {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.right_toggle_checkbox {
    appearance: none;
    position: relative;
    border: max(2px, 0.1em); solid gray;
    border-radius: 1.25em;
    width: 2.25em;
    height: 1.25em;
}

.right_toggle_checkbox::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: scale(0.8);
    background-color: gray;
    transition: left 250ms linear;
}

.right_toggle_checkbox:checked::before {
    background-color: white;
    left: 1em;
}

.right_toggle_checkbox:checked {
    background-color: #ff8e47;
    border-color: #ff8e47;
}



.Detail_right_Type_Text {
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px;
    border-bottom: 2px solid rgb(80, 80, 80);
}


.type_box1 {
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    display: flex;
    align-items: center;
}

.type_box1_text {
    width: 150px;
    display: inline-block;
}

.type_box2 {
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    height: 80px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    display: flex;
    align-items: center;
}

.type_box3 {
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    display: flex;
    align-items: center;
}

.input_select:focus {
    outline: none;
}

.type_box_Input {
    margin-left: 60px;
    height: 45px;
    width: 80%;
    border: none;
    font-weight: bold;
    color: rgb(80, 80, 80);
}

.type_box_Input2 {
    margin-left: 60px;
    height: 75px;
    width: 80%;
    border: none;
    font-weight: bold;
    color: rgb(80, 80, 80);
}

.type_box_Input3 {
    margin-left: 70px;
    height: 45px;
    width: 80%;
    border: none;
    font-weight: bold;
    color: rgb(80, 80, 80);
}

.type_box_Input4 {
    margin-left: 60px;
    height: 45px;
    width: 80%;
    border: none;
    font-weight: bold;
    color: rgb(80, 80, 80);
}

.type_box_Input5 {
    margin-left: 60px;
    height: 45px;
    width: 80%;
    border: none;
    font-weight: bold;
    color: rgb(80, 80, 80);
}

.type_box_Input6 {
    margin-left: 30px;
    height: 45px;
    width: 70%;
    border: none;
    font-weight: bold;
    color: rgb(80, 80, 80);
}

.pay_won {
    width: 50px;
}

.type_box_Input::placeholder,
.type_box_Input2::placeholder,
.type_box_Input3::placeholder,
.type_box_Input4::placeholder,
.type_box_Input5::placeholder,
.type_box_Input6::placeholder {
    font-weight: bold;
    color: lightgray;
}

.Detail_right_check {
    color: #ff8e47;
    font-weight: bold;
}



