/* -------------------- Detail Page Contents -------------------- */
/* .main {
    height: auto;
} */

.BoardProEnroll_formStyle {
    margin: 0;
}

.Detail_down {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
}

/* -------------------- Top Contents -------------------- */
.Logo_img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}

.Detail_down {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
}



/* -------------------- Left Contents -------------------- */
.Detail_left_Contents {
    margin: 0;
    padding-top: 50px;
    width: 20%;
    height: auto;
    border: 2px solid #ebebeb;
}

.Detail_left_guide {
    display : flex;
    align-items: center;
}

/* .Detail_left_number {
    margin: 0;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: gray;
    font-weight: bold;
} */


#Detail_left_guide1 {
    margin: 0;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #ff8e47;
}

#Detail_left_text1 {
    margin: 0;
    margin-left: 10px;
    width: 120px;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.Detail_left_number {
    margin: 0;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: gray;
    font-weight: bold;
}




.Detail_left_numbercheck {
    background-color: #ff8e47;
    color: white;
}

.Detail_left_text {
    margin: 0;
    margin-left: 10px;
    width: 120px;
    color: lightgray;
    font-weight: bold;
    font-size: 18px;
}

#Detail_left_guide_Change1 {
    background-color: #ff8e47;
    color: white;
}

#Detail_left_Chane_text1 {
    color: black
}

.left_text_main {
    margin: 0;
    margin-left: 10px;
    color: rgb(53, 53, 53);
    font-weight: bolder;
    font-size: 18px;
}


/* -------------------- Right Contents 1-------------------- */
.Detail_right_Contents {
    margin-left: -1px;
    width: 80%;
    height: auto;
    border: 2px solid #ebebeb;
}

.Detail_right_Contents1_unit1 {
    width: 80px;
}

.Detail_right_Contents1_unit2 {
    width: 120px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(245, 245, 245);
}

.Detail_right_Contents1_Title {
    margin-top: 50px;
}



.Detail_right_Contents1_Title_Input{
    height: 45px;
    width: 500px;
    border: none;
    font-weight: bold;
    color: rgb(80, 80, 80);
}

.Detail_right_type_box {
    width: 20%;
    padding-left: 30px;
}



.Detail_right_Contents1_box1 {
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    display: flex;
    align-items: center;
}

.Detail_right_Contents1_box2 {
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    height: 300px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    display: flex;
    align-items: center;
}

.Detail_right_Contents1_Category_Style {
    height: 50px;
    width: 600px;
    border: none;
    font-weight: bold;
    color: rgb(80, 80, 80);
}

.Detail_right_Contents1_imgbox {
    margin: 20px 0;
    text-align: center;
}

.Detail_right_Contents1_img {
    margin: 10px auto;
}

/* ------------------ Page Move Button -------------------- */

.boardProEnroll_Button_All{
    display: flex;
    float: right;
    margin-top: 10px;
    margin-bottom: 30px;
    gap: 10px;
}

.boardProEnroll_ButtonStyle1 {
    display: none;
    margin-right: 10px;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    color: gray;
    font-weight: bolder;
}

.boardProEnroll_ButtonStyle1:hover {
    background-color: rgb(180, 180, 180);
    color: white;
}


.boardProEnroll_ButtonStyle2 {
    display: block;
    margin-right: 10px;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 230, 230);
    color: gray;
    font-weight: bolder;
}

.boardProEnroll_ButtonStyle2:hover {
    background-color: rgb(180, 180, 180);
    color: white;
}

.boardProEnroll_ButtonStyle3 {
    display: none;
    margin-right: 10px;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #ff8e47;
    color: white;
    font-weight: bolder;
}