/* 헤더영역 */
header {
	width: 80vw;
	height: 100px;
	background-color: white;
}

.formSetting {
	margin: 0;
	width: 100%;
}

.header_all {
	display: flex;
	align-items: center;
}

.searchBar {
	display: flex;
	align-items: center;
}

.searchBar_align {
	display: flex;
	width: 100%;
	align-items: center;
}

.Logo {
	width: 100px;
	height: 100px;
	margin: 0;
	padding-left: 50px;
}

.search_body {
	height: 44px;
	width: 100%;
	margin: 0;
	border: none;
	border-top: 5px solid #ff8e47;
	border-bottom: 5px solid #ff8e47;
}

/* 네비게이션 영역 */
.nav {
	width: 25%;
	margin: 0;
	margin-right: 20px;
	margin-left: 30px;
	display: flex;
	justify-content: end;
	gap: 20px
}

.categoryMenu {
	width: 100px;
	font-size: 15px;
	font-weight: bold;
	position: relative;
}

.categoryMenu .subMenu {
	display: none;
	position: absolute;
	width: 100px;
	background-color: aquamarine;
}

.categoryMenu:hover .subMenu {
	display: block;
}

a {
	color: #000;
	text-decoration: none;
}