/* 전체 영역 센터 정렬 */
*{
    margin: 0 auto;
}
/* 바디영역 */
body{
    width: 100%;
}


.img_animaion {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    background-size: cover;
    animation: fade 10s ease-in infinite;
}


/* 페이드 인 아웃 */
/* 
@keyframes fade{
    0%{
        background-image: url("/resources/img/main1.jpg");
    }
    25%{
        background-image: url("/resources/img/main2.jpg");
    }
    50%{
        background-image: url("/resources/img/main1.jpg");
    }
    75% {
        background-image: url("/resources/img/main2.jpg");
    }
    100%{
        background-image: url("/resources/img/main1.jpg");
    }
}
  */

/* 메인영역 */
.main{
    width: 60%;
    height: 100vh;
}


/* 메인 아래 아이콘 ( 24/5/30 작업 )*/

.icons{
    width: 60%;
    height: 100vh;
    /* border: 1px solid #999; */
    display: flex;
    justify-content: center;
    align-items:center;
}

.icons_area{
    width: 100%;
    height: 50%;
}

.icon_title p{
    padding: 30px 0px 0px 15px;
    font-size: 25px;
    font-weight: bold;
    color: #444;
    /* border: 1px solid #999; */

}

.icon_container{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    /* border: 1px solid #999; */


}

.icon_space{
    width: 150px;
    height: 150px;
    /* border: 1px solid rgb(18, 188, 239); */
}

.icon_img{
    margin-top: 10px;
    width: 70px;
    height: 70px;
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
}

.icon_space p{
    margin-top: 30px;
    padding: 0;
    font-size: 15px;
    text-align : center;
}
