/* 전체 영역 공백제거 */
*{
    margin: 0 auto;
}
/* 바디영역 */
body{
    width: 100%;
    height: 1080px;

}

/*영역구분 텍스트*/
p{
	font-size : 40px;
	text-align : center;
}
#main{
    width: 1000px;
    height: 700px;
     display: flex;
     justify-content: space-evenly;
}
