<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COPANG</title>
    <link rel="icon" href="../../resources/img/tapIcon.png">
    <link rel="stylesheet" href="../../resources/css/common/index_Detail_Insert01.css">
    <link rel="stylesheet" href="../../resources/css/common/header.css">
    <link rel="stylesheet" href="../../resources/css/common/footer.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/Detail_Insert/Detail_Insert01.css">
    <script src="https://kit.fontawesome.com/1992e1ad9e.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!-- <%@ include file="/views/common/head.jsp"%> -->
</head>
<body>
    <!-- <%@ include file="/views/common/header.jsp"%> -->

    <header class="header_all" style="top: 0px;">
        <ul class="top_menu">
            <li class="categoryMenu">분야 카테고리
                <ul class="subMenu">
                    <li><a href="#">IT/프로그래밍</a></li>
                    <li><a href="#">디자인</a></li>
                    <li><a href="#">영상/사진</a></li>
                    <li><a href="#">마케팅</a></li>
                    <li><a href="#">교육</a></li>
                </ul>
            </li>
        </ul>
        <!-- 로고 -->
        <img class="Logo" src="../../resources/img/Logo.png" alt="logo">
        <!-- Search(돋보기) -->
    
        <form class="search-box" method="" class="formSetting">
            <input class="search-txt" type="text" name="searchTxt" value="">
            <button class="search-btn" type="submit">
                <i class="fa-solid fa-magnifying-glass" style="color: #ff8e47;"></i>
            </button>
        </form>
        <!-- 네비게이션 -->
        <div class="nav">
            <li><a href="#">로그인</a></li>
            <li><a href="#">회원가입</a></li>
        </div>
    </header>






    <main class="main">
        <!-- <div class="Detail_top">
            <img class="Logo_img" src="../../resources/img/Logo.png" alt="LOGO">
            <button class="submit_button" onclick="">전송</button>
        </div> -->
        <div class="Detail_down">

            <!-- ===================== Left Contents ===================== -->

            <div class="Detail_left_Contents">
                <div class="Detail_left_guide">
                <div class="Detail_left_number">1</div><span class="left_text_main">기본정보</span>
                </div>
                <div class="Detail_left_guide">
                <div class="Detail_left_number Detail_left_numbercheck">2</div><span class="Detail_left_text">가격설정</span>
                </div>
                <div class="Detail_left_guide">
                <div class="Detail_left_number">3</div><span class="Detail_left_text">서비스 설명</span>
                </div>
                <div class="Detail_left_guide">
                <div class="Detail_left_number">4</div><span class="Detail_left_text">이미지</span>
                </div>
                <div class="Detail_left_guide">
                <div class="Detail_left_number">5</div><span class="Detail_left_text">요청사항</span>
                </div>
            </div>

            <!-- ===================== Right Contents ===================== -->

            <div class="Detail_right_Contents">
                <div class="Detail_right_TopTitle">
                    <span class="Detail_right_PayData">가격 정보</span>
                    <div class="toggle_button">
                        <input role="switch" type="checkbox" class="right_toggle_checkbox" id="right_toggle_slider">
                        <label class="right_toggle_label" for="right_toggle_slider">패키지로 가격설정</label>
                    </div>
                </div>
                <div class="Detail_right_Type">
                    <span class="Detail_right_Type_Text">STANDARD</span>
                    <div class="Detail_right_Type_Title">
                        <div class="type_box1"><span class="type_box1_text">&nbsp;&nbsp;제목<span class="Detail_right_check">*</span></span><input class="type_box_Input input_select" type="text" placeholder="제목을 입력해주세요."></div>
                        <div class="type_box2"><span class="type_box1_text">&nbsp;&nbsp;설명<span class="Detail_right_check">*</span></span><input class="type_box_Input2 input_select" type="text" placeholder="상세 설명을 입력해주세요."></div>
                        <div class="type_box1"><span class="type_box1_text">&nbsp;&nbsp;금액(VAT포함)<span class="Detail_right_check">*</span></span><input class="type_box_Input3 input_select" type="text" placeholder="금액을 입력해주세요."><span class="pay_won">원</span></div>
                        <div class="type_box1"><span class="type_box1_text">&nbsp;&nbsp;작업 기간<span class="Detail_right_check">*</span></span>
                            <input class="type_box_Input4 input_select" type="text" placeholder="제목을 입력해주세요."></div>
                        <div class="type_box1"><span class="type_box1_text">&nbsp;&nbsp;수정 횟수<span class="Detail_right_check">*</span></span><input class="type_box_Input4 input_select" type="text" placeholder="제목을 입력해주세요."></div>
                        <div class="type_box1"><span class="type_box1_text">&nbsp;&nbsp;컨설팅 횟수</span><input class="type_box_Input5 input_select" type="text" placeholder="제목을 입력해주세요."></div>
                        <div class="type_box3"><span class="type_box1_text">&nbsp;&nbsp;1회 컨설팅시간 (분)</span><input class="type_box_Input6 input_select" type="text" placeholder="제목을 입력해주세요."></div>
                    </div>
                    </div>
                </div>


            </div>
            
        </div>









    </main>
    <!-- <%-- <%@ include file="/views/common/footer.jsp"%> --%> -->
    <footer>
        <div class="team">
                <h3>Copang</h3>
                <br>
                <p>김현중   김이석</p>
                <br>
                <p>유상현   정은식</p>
            </div>
            
            <div class="academy">
                <h3>ACADEMY INFO</h3>
                <br>
                <p>그린컴퓨터아트학원</p>
                <br>
                <p>주소 : 경기도 안양시 만안구 안양로 303, S210, S213,215, S802-S804호
                    <br>(안양동, 메쎄포스빌)</p>
            </div>
        </footer>
</body>
</html>