<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COPANG</title>
    <link rel="icon" href="../../resources/img/tapIcon.png">
    <link rel="stylesheet" href="../../resources/css/common/index_Detail_Insert01.css">
    <link rel="stylesheet" href="../../resources/css/common/header.css">
    <link rel="stylesheet" href="../../resources/css/common/footer.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/Detail_Insert/Detail_Insert02.css">
    <script src="https://kit.fontawesome.com/1992e1ad9e.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
    <!-- <%@ include file="/views/common/head.jsp"%> -->
</head>
<body>
    <!-- <%@ include file="/views/common/header.jsp"%> -->

    <header class="header_all" style="top: 0px;">
        <ul class="top_menu">
            <li class="categoryMenu">분야 카테고리
                <ul class="subMenu">
                    <li><a href="#">IT/프로그래밍</a></li>
                    <li><a href="#">디자인</a></li>
                    <li><a href="#">영상/사진</a></li>
                    <li><a href="#">마케팅</a></li>
                    <li><a href="#">교육</a></li>
                </ul>
            </li>
        </ul>
        <!-- 로고 -->
        <img class="Logo" src="../../resources/img/Logo.png" alt="logo">
        <!-- Search(돋보기) -->
    
        <form class="search-box" method="" class="formSetting">
            <input class="search-txt" type="text" name="searchTxt" value="">
            <button class="search-btn" type="submit">
                <i class="fa-solid fa-magnifying-glass" style="color: #ff8e47;"></i>
            </button>
        </form>
        <!-- 네비게이션 -->
        <div class="nav">
            <li><a href="#">로그인</a></li>
            <li><a href="#">회원가입</a></li>
        </div>
    </header>