<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COPANG</title>
    <link rel="icon" href="../../resources/img/tapIcon.png">
    <link rel="stylesheet" type="text/css" href="../../resources/css/common/header.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/common/index.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/common/footer.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/Detail_Insert/Detail_Insert01.css">
    <%@ include file="/views/common/head.jsp"%>
</head>
<body>
    <%@ include file="/views/common/header.jsp"%>
    <main class="main">
        <div class="Detail_top">
            <img class="Logo_img" src="../../resources/img/Logo.png" alt="LOGO">
            <button class="submit_button" onclick="">전송</button>
        </div>
        <div class="Detail_down">

            <!-- ===================== Left Contents ===================== -->

            <div class="Detail_left_Contents">
                <div class="Detail_left_guide">
                <div class="Detail_left_number Detail_left_numbercheck">1</div><span class="left_text_main">기본정보</span>
                </div>
                <div class="Detail_left_guide">
                <div class="Detail_left_number">2</div><span class="Detail_left_text">가격설정</span>
                </div>
                <div class="Detail_left_guide">
                <div class="Detail_left_number">3</div><span class="Detail_left_text">서비스 설명</span>
                </div>
                <div class="Detail_left_guide">
                <div class="Detail_left_number">4</div><span class="Detail_left_text">이미지</span>
                </div>
                <div class="Detail_left_guide">
                <div class="Detail_left_number">5</div><span class="Detail_left_text">요청사항</span>
                </div>
            </div>

            <!-- ===================== Right Contents ===================== -->

            <div class="Detail_right_Contents">
                <div class="toggle_button">
                    <input type="checkbox" class="right_toggle_checkbox" id="right_toggle_slider">
                    <label class="right_toggle_label" for="right_toggle_slider">on/off</label>
                </div>
            </div>
            
        </div>









    </main>
    <%-- <%@ include file="/views/common/footer.jsp"%> --%>
</body>
</html>