/* styles.css */
/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 500px;
}

.login-container h2 {
	
	margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

label {
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    background-color: #ff8e47;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ff8e47;
}

.extra-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extra-options input[type="checkbox"] {
    margin-right: 5px;
}

.extra-options label {
    font-size: 12px;
    font-weight: bold;
    color: gray;
}

.extra-options .find-info {
    font-size: 12px;
    font-weight: bold;
    color: gray;
    text-decoration: none;
}

.extra-options .find-info:hover {
    text-decoration: underline;
}

.loginLogo {
	height : 150px;
	width : 150px;
	display: flex;
    justify-content: center;
}


