/* styles.css */
.login-page .login_container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    width: 300px;
    height: 500px;
}

.login-page .login_container h2 {
	
	margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.login-page label {
    font-weight: bold;
}

.login-page input[type="email"],
.login-page input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-page button {
    width: 100%;
    background-color: #ff8e47;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-page button:hover {
    background-color: #ff8e47;
}

.login-page .extra-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-page .extra-options input[type="checkbox"] {
    margin-right: 5px;
}

.login-page .extra-options label {
    font-size: 12px;
    font-weight: bold;
    color: gray;
}

.login-page .extra-options .find-info {
    font-size: 12px;
    font-weight: bold;
    color: gray;
    text-decoration: none;
}

.login-page .extra-options .find-info:hover {
    text-decoration: underline;
}

.login-page .loginLogo {
	height : 150px;
	width : 150px;
	display: flex;
    justify-content: center;
}


