
.agree_container {
    border: 2px solid #ccc; 
    padding: 30px; 
    padding: 5px;
    height: 110px
}

.register-page .register-container {
    background-color: #fff;
    padding : 70px;
    padding-top: 20px;
    padding-bottom: 180px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 450px;
    height: 900px;
}

.register-page .register-container h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.register-page label {
	font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.register-page input[type="text"],
.register-page input[type="email"],
.register-page input[type="password"],
.register-page input[type="tel"],
.register-page select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.register-page button {
	font-weight: bold;
    width: 100%;
    background-color: #ff8e47;
    color: white;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.register-page button:hover {
    background-color: #ff8e47;
}

.register-page input[type="radio"] {
    margin-right: 5px;
}

.register-page label[for="expert"],
.register-page label[for="business_it"],
.register-page label[for="business_video"],
.register-page label[for="business_design"],
.register-page label[for="business_marketing"],
.register-page label[for="business_education"],
.register-page label[for="client"] {
    margin-right: 2px;
    font-weight:normal;
}

.register-page .consent-section {
    font-size: 12px;
    color: #666;
    font-family: 'Roboto', sans-serif;
}

.register-page .consent-section label {
    display: block;
    margin: 2px 0;
}

.register-page .consent-section .required {
    color: #ff6666;
}

.register-page .consent-section .optional {
    color: #999;
}

.register-page .consent-section label span {
    font-weight: bold;
}

.register-page .consent-section label input {
    margin-right: 5px;
    font-weight:normal;
}

.register-page .consent-section label span[style*="underline"] {
    text-decoration: underline;
}