<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문확인 및 결제</title>
    <link rel="stylesheet" href="../../resources/css/payment/header.css">
    <link rel="stylesheet" href="../../resources/css/payment/section.css">
    <link rel="stylesheet" href="../../resources/css/common/footer.css">
    <!-- tab-icon -->
    <link rel="icon" href="../../resources/img/tapIcon.png" />

</head>
<body>
    <header>
        <div class="header">
            <img src="../../resources/img/Logo.png" alt="로고">
            <div class="header-font-number-1">1</div> 
            <span class="header-font-1"> 주문확인 및 결제 </span>
            <span class="header-font-next-arrow"> > </span> 
            <div class="header-font-number-2">2</div>
            <span class="header-font-2"> 결제 확인 </span>
        </div> 
    </header>

    <section>
        
        <div class="none"></div>

        <div class="payment-text">
            <h1>결제하기</h1>
        </div>

        <div class="payment">
                <div class="order-list">
                    <h3>주문 내역</h3>
                    <div class="order-img">
                        <img src="../../resources/img/item1.png" alt="제품사진">
                    </div>
                </div>

                <div class="seller-information">
                    판매자 정보
                </div>

                <div class="payment-detail">
                    결제 방법
                </div>

                <div class="request-detail">
                    의뢰 내용 디테일하게 적기
                </div>
        </div>

    </div>

        <div class="price">
            결제내용
        </div>

    </section>  
</body>
</html>


