<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문확인 및 결제</title>
    <link rel="stylesheet" href="../../resources/css/payment/header.css">
    <link rel="stylesheet" href="../../resources/css/payment/section.css">
    <link rel="stylesheet" href="../../resources/css/common/footer.css">
    <!-- tab-icon -->
    <link rel="icon" href="../../resources/img/tapIcon.png" />

</head>
<body>
    <header>
        <div class="header">
            <img src="../../resources/img/Logo.png">
            <div class="header-font-number-1">1</div> 
            <span class="header-font-1"> 주문확인 및 결제 </span>
            <span class="header-font-next-arrow"> > </span> 
            <div class="header-font-number-2">2</div>
            <span class="header-font-2"> 결제 확인 </span>
        </div> 
    </header>

    <section>
        
        <div class="none"></div>
        <div class="payment">

        </div>
        <div class="main">

        </div>

    </section>  
</body>
</html>


