<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제</title>
    <link rel="stylesheet" href="../../resources/css/payment/header.css">
    <link rel="stylesheet" href="../../resources/css/common/footer.css">
</head>
<body>
    <header>
        <div class="header">
            <img src="../../resources/css/payment/img/Logo.png">
            <div class="header-font-number-1">1</div> 
            <span class="header-font-1"> 주문 확인 및 결제 </span>
            <span class="header-font-next-arrow"> > </span> 
            <div class="header-font-number-2">2</div>
            <span class="header-font-2"> 결제 확인 </span>
        </div> 
    </header>
    <section>
        
        <div id="main">
            <h1>안녕하세요.</h1>
        </div>
    </section>  
</body>
</html>


