<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COPANG</title>

    <link rel="icon" href="../../resources/img/tapIcon.png">
    <link rel="stylesheet" type="text/css" href="../../resources/css/common/header.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/common/index.css">
    <link rel="stylesheet" type="text/css" href="../../resources/css/common/footer.css">
</head>
<body>
    
    <header>
        <!-- 로고 -->
        <div class="logo">

        </div>
        <p>header<p>
        <!-- 네비게이션 -->
        <div class="nav">

        </div>
    </header>
    <hr>

    <div id="main">

        <div class="container">
            


        </div>








    </div>
    <hr>

    <div id="footer">
        <p>footer<p>
        </div>

</body>
</html>