.main_Detail {
	width: 60%;
	height: auto;
}

.detail_containor {
	margin-top: 20px;
}

.detail_containor {
	display: flex;
	justify-content: space-evenly;
}

/* ---------- Left Box ---------- */
.left_contents {
	display: inline-block;
	width: 550px;
	margin-right: 5px;
}

.Detail_Left_MainImage_box {
	margin-left: 5px;
	margin-top : 20px;
	padding: 0;
	width: 520px;
	height : auto;
}

.Detail_Left_MainImage {
	width: 520px;
}

/* -------------- Left Tab StarPoint -------------- */

.Detail_Left_Star_Decision {
	margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Detail_Left_Star_Decision_point {
    width: 25px;
    height: 25px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    background: url('/resources/img/emptyStar.png') no-repeat;
    background-size: 100%;
}

.Detail_Left_Star_Decision_point.Detail_Left_Star_Decision_pointOn {
    background: url('/resources/img/fullOfStar.png') no-repeat;
    background-size: 100%;
}

.Detail_Left_Star_Decision_Average {
	margin: 0;
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: bold;
    color: #ff8e47;
}

/* -------------- Left Tab Contents -------------- */

/* <<<  2  >>> */
.left_TabList {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: auto;
}

.tabMenuLabel {
	margin: 0;
	padding: 10px 22px;
	text-align: center;
}

input[type="radio"] {display: none;}

input[type="radio"]:checked+label {
	background-color: rgb(240, 240, 240);
	color: #434343;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-right: 1px solid black;
}

input[type="radio"]+label {
	display: inline-block;
	padding: 17px;
	background-color: white;
	color: black;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	border-left: 1px solid #e3e3e3;
	border-top: 1px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
}

.conbox {
	width: 535px;
	height: auto;
	border-top: 1px solid black;
	margin: 0 auto;
	display: none;
}

input[id="tabList01"]:checked ~ .con1 {
	display: block;
}

input[id="tabList02"]:checked ~ .con2 {
	display: block;
}

input[id="tabList03"]:checked ~ .con3 {
	display: block;
}

input[id="tabList04"]:checked ~ .con4 {
	display: block;
}

input[id="tabList05"]:checked ~ .con5 {
	display: flex;
	flex-direction: column;
}

.leftTabList_title {
	padding-top : 20px;
	font-size: 20px;
	font-weight: bolder;
	text-align: left;
	align-items: center;
	height: 50px;
	color : black;
	
}

.leftPayList {
	border-top: 2px solid black;
	border-spacing: 0;
	
}

.tableTitle {
	background-color: #c3c0c0;
	border-bottom: #c0c0c0;
	height: 50px;
}

.tableLine {
	border-bottom: 1px solid #c0c0c0;
	text-align: center;
	height: 70px;
	font-size: 14px;
}


.tableLine2 {
	border-bottom: 2px solid black;
}

.tableTitle, .tableLine {
	width: 15%;
}


.leftBuy {
	background-color: #ff8e47;
	color : white;
	width: 110px;
	height: 40px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 30px;
}

/* <<<  3  >>> */
.leftTabList_Retouch {
	list-style-type: none;
	padding: 0;
}

.leftTabList_Retouch_title, .leftTabList_Cencle_title {
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 20px;
}

.leftTabList_Retouch_contents, .leftTabList_Cencle_contents {
	width: 100%;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	color: gray;
	margin-bottom: 20px;
}

/* <<<  4  >>> */
.leftTabList_Cencle {
	list-style-type: none;
	padding: 0;
}




/* <<< 5 >>> */
.Detail_Left_Star_Rating {
	width: 100%;
	margin-top: 20px;
	box-sizing: border-box;
	display: inline-flex;
	float: left;
	flex-direction: row;
	justify-content: center;
}

.Detail_Left_Star_Rating .Detail_Left_Star {
	width: 25px;
	height: 25px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	background: url('/resources/img/emptyStar.png') no-repeat;
	background-size: 100%;
	box-sizing: border-box;
}

.Detail_Left_Star_Rating .Detail_Left_Star.Detail_Left_Star_On {
	width: 25px;
	height: 25px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-block;
	background: url('/resources/img/fullOfStar.png') no-repeat;
	background-size: 100%;
	box-sizing: border-box;
}

.Detail_Left_review_box {
	display: flex;
	align-items: center;
}

.Detail_Left_Star_Review {
	width: 400px;
	box-sizing: border-box;
	display: inline-block;
	margin: 15px 0;
	background: #F3F4F8;
	border: none;
	height: 100px;
	resize: none;
	padding: 15px;
	font-size: 13px;
	font-family: sans-serif;
}

.Detail_Left_Star_Review:focus {
	outline: none;
}

.Detail_Left_Star_Review_Button {
	width: 100px;
	height: 100px;
	display:inline-block;
	margin: 15px 0;
	font-weight: bold;
	padding: 15px 0;
	font-size: 1.1em;
	text-align: center;
	border: 2px solid #ff8e47;
	background: white;
	color: #ff8e47;
}

.Detail_Left_Star_Review_Button:hover {
	background: #ff8e47;
	color: white;
}

.Detail_Left_ReviewTable {
	width: 100%;
	display: flex;
	margin-top: 20px;
	margin-bottom: 50px;
}

.Detail_Left_ReviewTable_box {
	margin: 0;
	width: 100%;
	text-align: center;
}

.Detail_Left_ReviewStar {
	display: flex;
	align-items: center;
	margin: 10px 0;
}

.Detail_Left_ReviewStar .Detail_Left_Reviw_Star {
	width: 14px;
	height: 14px;
	margin: 0;
	display: flex;
	background: url('/resources/img/emptyStar.png') no-repeat;
	background-size: 100%;
	box-sizing: border-box;
}

.Detail_Left_ReviewStar .Detail_Left_Reviw_Star.Detail_Left_Reviw_Star_On {
	width: 14px;
	height: 14px;
	margin: 0;
	display: inline-block;
	background: url('/resources/img/fullOfStar.png') no-repeat;
	background-size: 100%;
	box-sizing: border-box;
}

.Detail_Left_Reviews {
	display: flex;
	width: 100%;
	height: 150px;
	align-items: center;
	border-bottom: 2px solid lightgray;
	font-size: 14px;
}

.Detail_Left_ReviewBlock {
	margin-left: 10px;
	width: 35%;
}

.Detail_Left_Reviw_Star_value {
	margin: 0;
	margin-left: 5px;
	color: gray;
	font-weight: bold;
}

.Detail_Left_ReviewInfo {
	text-align: left;
}

.Detail_Left_ReviewContent {
	margin-left: 10px;
	width: 65%;
	text-align: left;
}


/* ---------- Right Box ---------- */
.right_up {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 400px;
	margin-top: 10px;
}

.right_up_text {
	font-size : 16px;
	color : rgb(100, 100, 100);
	font-weight: bold;
	margin-right: 10px;
}

.img_link {
	padding: 4px;
	width: 35px;
	border: 1px soli #fff;
	border-radius: 50px;
}

.img_link:hover {
	background-color: lightgray;
}

.right_contents {
	display: block;
	width: 400px;
	margin-left: 5px;
}

.right_payTabList {
	margin-top: 5px;
	padding: 20px;
	width: 350px;
	height: auto;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
}

/* ---------------------------------------------------------------- */
.rightBox_businessMenuPay {
	font-size: 20px;
	font-weight: bolder;
}

.right_payTabList {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: center; */
}

.rightTabMenuLabel {
	margin: 0;
	padding: 10px 22px;
	flex: 1;
	text-align: center;
}

/* .rightTabMenuLabel [name*="rightTabMenu"] {flex:1} */

.rightConbox {
	width: 350px;
	height: 100%;
	border-top: 1px solid black;
	margin: 0 auto;
	display: none;
}

input[id="rightTabList01"]:checked ~ .rightCon1 {
	display: block;
}

input[id="rightTabList02"]:checked ~ .rightCon2 {
	display: block;
}

input[id="rightTabList03"]:checked ~ .rightCon3 {
	display: block;
}






/* ---------------------------------------------------------------- */

.rightBox_sample1 {
	margin-top: 20px;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	display: block;
}

.vat {
	font-size: 12px;
	font-weight:600;
	color: #c0c0c0;
}

.rightBox_check_list_IT {
	margin-top: 20px;
}

.rightBox_check_list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 24px;
}

.rightBox_check_list_text {
	font-size: 14px;
	color: gray;
	font-weight: bold;
	margin: 0;
}

.rightBox_check_png {
	margin: 0;
	width: 16px;
	height: 16px;
}

.rightBox_business_inner {
	margin: 0;
	font-size: 14px;
	color: #c0c0c0;
}

/* ---------- Right Button ---------- */
.rightBox_buy_button {
	margin-top: 20px;
	width: 350px;
	height: 50px;
	color: white;
	font-size: 18px;
	font-weight: bolder;
	background-color: #ff8e47;
	border: none;
	border-radius: 5px;
}