header {
    border-bottom: 1px solid #c0c0c0;
}

.container {
    display: flex;
}

.category {
    width: 200px;
    height: 100vh;
}

.category_List {
    margin-top: 50px;
    font-size: 25px;
}

.category_List li {
    margin: 10px 0;
    padding-left: 10px;
    list-style-type: none;
    font-size: 14px;
}

.boxList {
    width: 700px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap : 50px 25px;
}