.boardProList_container {
    display: flex;
}

.boardProList_sidebar {
    width: 20%; /* 좌측 20% 고정 */
    background-color: #f4f4f4;
    padding: 20px;
}

.boardProList_sidebar ul {
    list-style-type: none;
    padding: 0;
}

.boardProList_sidebar ul li {
    margin-bottom: 10px;
}

.boardProList_content {
    flex: 1;
    padding: 20px;
}

.boardProList_image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 바둑판 배열 */
    gap: 20px; /* 이미지 간격 */
}

.boardProList_post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
}

.boardProList_post img {
    width: 100%;
    height: auto;
}

.boardProList_post h2 {
    margin-top: 10px;
}








