/* -------------------- Right Contents 2-------------------- */
.Detail_right_TopTitle {
    height: 50px;
    padding-top: 50px;
    display: flex;
    align-items: center;
}

.Detail_right_PayData {
    margin-left: 30px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(80, 80, 80);
}





/* ------------- Toggle Switch ---------------- */

/* .Detail_right_toggleButon {
    margin-right: 50px;
}

.toggle_button {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 28px;
}

.toggle_button input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.toggle_slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.right_toggle_checkbox:checked + .toggle_slider {
    background-color: #ff8e47;
}

.right_toggle_checkbox:focus + .toggle_slider {
    box-shadow: 0 0 1px #ff8e47;
}

.right_toggle_checkbox:checked + .toggle_slider:before {
    transform: translateX(22px);
}

.toggle-label {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
} */

.Detail_right_toggleButon {
    margin-right: 50px;
}

/* .toggle_button {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 28px;
}

.toggle_button input {
    opacity: 0;
    width: 0;
    height: 0;
} */

.toggle_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.toggle_slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.Detail_right_toggleButon input:checked + .toggle_button .toggle_slider {
    background-color: #ff8e47;
}

.Detail_right_toggleButon input:focus + .toggle_button .toggle_slider {
    box-shadow: 0 0 1px #ff8e47;
}

.Detail_right_toggleButon input:checked + .toggle_button .toggle_slider:before {
    transform: translateX(22px);
}

.toggle-label {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}



/* ------------------------------------------------------ */






/* ------------------------ Right Toggle Off ------------------------------ */
.input_select {
    margin: 0;
}

.input_select:focus {
    outline: none;
    background-color: rgb(240, 252, 255);
}

.Detail_right_Type_Text {
    display: block;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 25px;
    border-bottom: 2px solid rgb(80, 80, 80);
}


.Detail_right_type_box1 {
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    display: flex;
    align-items: center;
}

.Detail_right_box1_text {
    width: 180px;
    margin: 0;
    display: inline-block;
}

.Detail_right_type_box2 {
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    height: 80px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    display: flex;
    align-items: center;
}

.Detail_right_type_box3 {
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    display: flex;
    align-items: center;
}



.type_box_Input {
    height: 30px;
    width: 600px;
    border: none;
    font-weight: bold;
    color: rgb(80, 80, 80);
    resize: none;
}

.type_box_Input2 {
    height: 75px;
    width: 580px;
    border: none;
    font-weight: bold;
    color: rgb(80, 80, 80);
    resize: none;
}

.type_box_Input3 {
    height: 45px;
    width: 580px;
    border: none;
    font-weight: bold;
    color: rgb(80, 80, 80);
    resize: none;
}

.Detail_right_unit {
    width: 80px;
    margin-right: 10px;
}

.type_box_Input::placeholder,
.type_box_Input2::placeholder,
.type_box_Input3::placeholder,
.type_box_Input4::placeholder,
.type_box_Input5::placeholder,
.type_box_Input6::placeholder {
	padding-top: 20px;
	font-weight: bold;
    color: rgb(180, 180, 180);
}

.Detail_right_check {
    color: #ff8e47;
    font-weight: bold;
}

.dropMenuStyle {
    font-size: 14px;
    color: rgb(80, 80, 80);
    font-weight: bold;
}

.Detail_right_workday,
.Detail_right_retouch,
.Detail_right_consulting,
.Detail_right_time {
    width: 580px;
    height: 45px;
    margin-left: 0;
    border: none;
    font-weight: bold;
    color: rgb(180, 180, 180);
}



/* ------------------------ Right Toggle On ------------------------------ */
.toggleContent {
    margin-left: 30px;
    margin-right: 30px;
}

.Detail_right_Type2_Title {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.Detail_right_Type2_TextAll {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 150px;
    padding-right: 50px;
    font-size: 25px;
    border-bottom: 2px solid rgb(80, 80, 80);
}

.Detail_right_Type2_unit {
    width: 20px;
    margin-right: 10px;
}

.Detail_right_Type2_Box {
    border: 1px solid rgb(218, 218, 218);
    margin-top: -1px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    display: flex;
    align-items: center;
}

.Detail_right_Type3_Box {
    border: 1px solid rgb(218, 218, 218);
    margin-top: -1px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    display: flex;
    align-items: center;
}

.Detail_right_Type2_Box1 {
    border: 1px solid rgb(218, 218, 218);
    margin-top: 20px;
    height: 100px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    display: flex;
    align-items: center;
}

.Detail_right_Type2_Box2 {
    border: 1px solid rgb(218, 218, 218);
    margin-top: -1px;
    height: 180px;
    font-size: 14px;
    font-weight: bold;
    color: gray;
    display: flex;
    align-items: center;
}

.Detail_right_Type2_ON_smallbox{
    width: 25%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(218, 218, 218);
    font-size: 12px;
}

.Detail_right_Type2_ON_smallbox2{
    width: 120px;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    background-color: rgb(240, 240, 240);
    border-right: 1px solid rgb(218, 218, 218);
    font-size: 12px;
}

.Detail_right_Type2_ON_selectbox {
    width: 30%;
    height: 100%;
    margin: 0;
    padding-left: 5px;
    display: flex;
    align-items: center;
    border-right: 1px solid rgb(218, 218, 218);
    font-size: 12px;

}

.Detail_right_Type2_Text {
    align-items: center;
    margin: 0;
    margin-left: 10px;
}

.Detail_right_Type2_check {
    color: #ff8e47;
    margin: 0;
    margin-left: 5px;
    font-weight: bolder;
}

.Detail_right_Type2_input {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    width: 30%;
    height: 100%;
    border: none;
    border-right: 1px solid rgb(218, 218, 218);
    border-bottom: 1px solid rgb(218, 218, 218);
    background-color: none;
    font-size: 12px;
    word-wrap: break-word;
}

.Detail_right_Type2_input3 {
    margin: 0;
    width: 30%;
    height: 100%;
    border: none;
    border-right: 1px solid rgb(218, 218, 218);
    background-color: none;
    font-size: 12px;
    word-break: break-all;
    resize: none;
}

.Detail_right_Type2_input2 {
    margin: 0;
    padding: 0;
    width: 90%;
    height: 100%;
    border: none;
    background-color: none;
    font-size: 12px;
}

.Detail_right_Type2_select {
    margin: 0;
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    background-color: none;
    font-weight: bolder;
    color: rgb(180, 180, 180);
    font-size: 12px;
}

.Detail_right_Type2_input:focus {
    outline: none;
}

.Detail_right_Type2_input::placeholder,
.Detail_right_Type2_input2::placeholder,
.type_box_Input6::placeholder,
.Detail_right_Type2_input3::placeholder {
    font-weight: bold;
    color: rgb(180, 180, 180);
}

.dropMenuStyle {
    color: rgb(80, 80, 80);
    font-weight: bold;
}

.Detail_right_Type2_unit {
    width: 10%;
    margin: 0;
}

.Detail_right_Type2_Box_margin {
    margin-bottom: 20px;
}

.Detail_right_Type2_input:focus,
.Detail_right_Type2_input2:focus {
	outline: none;
	background-color: rgb(240, 252, 255);
}
























