.detail_containor {
    display: flex;
    justify-content: space-evenly;
}




/* ---------- Left Box ---------- */
.left_contents {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 100vh;
}

.img_main {
    margin-top: 50px;
    width: 580px;
}

/* .left_TabList {
    margin-top: 10px;
}

.tabMenuLabel {
    margin: 0;
    padding: 10px 22px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: gray;
    color: #c0c0c0;
}

input[type="radio"] + label {
    display: inline-block;
    padding: 20px;
    background-color: rgb(228, 228, 228);
    color: black;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.conbox {
    width: 550px;
    height: 600px;
    margin: 0 auto;
    display: none;
}

input[id="tabList01"] ~ .con1 {display: block;}
input[id="tabList02"] ~ .con2 {display: block;}
input[id="tabList03"] ~ .con3 {display: block;}
input[id="tabList04"] ~ .con4 {display: block;}
input[id="tabList05"] ~ .con5 {display: block;} */

nav {
    display: block;
    unicode-bidi: isolate;
}

.guide {
    width: 580px;
    z-index: 2;
    position: sticky;
    margin-bottom: 48px;
    
}

.guide_list {
    display: flex;
    unicode-bidi: isolate;
}

.guide_tab1 {
    position: relative;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    height: 60px;
    padding: 0 4px;
    -webkit-box-align: center;
    font-weight: 700;
    color: #303441;
    border-top: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-bottom: 0;
}

.guide_tab2 {
    position: relative;
    -webkit-box-align: center;
}




/* ---------- Right Box ---------- */
.right_up {
    margin-top: 50px;
}

.img_link {
    padding: 4px;
    width: 35px;
    border: 1px soli #fff;
    border-radius: 50px;
}

.img_link:hover {
    background-color: lightgray;
}


.right_contents {
    display: block;
    width: 450px;
}

.pay_Type {
    padding: 20px;
    width: 400px;
    height: 500px;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
}

.sample1 {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    display: block;
}

.sample2, .sample3 {
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    display: block;
}

.check_list_IT {
    margin-top: 20px;
}

.check_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
}

.check_list_text {
    font-size: 14px;
    color: gray;
    font-weight: bold;
    margin: 0;
}

.check_png {
    margin: 0;
    width: 16px;
    height: 16px;
}


.business_inner {
    margin: 0;
    font-size: 14px;
    color: #c0c0c0;
}

/* ---------- Right Button ---------- */

.buy_button {
    margin-top: 20px;
    width: 360px;
    height: 50px;
    color: black;
    font-weight: bolder;
    background-color: #ff8e47;
    border: none;
    border-radius: 5px;
}