/* 의뢰내용 파트 */
.request-detail{
    position: absolute;
    left: 55%;
    top: 26%;
    width: 34%;
    height: 100vh;
    border: 0.1px solid #cacaca;
    border-radius: 5px;
}

/* 스마트에디터 */
.detail{
    position: relative;
    top: 3%;
    left: 7%;
}

/* 의뢰내용 제목태그 */
.request-title{
    position: relative;
    border: 0.1px solid #e0e0e0;
    border-radius: 5px;
    width: 87%;
    height: 50px;
    font-size: 15px;
    background-color: #e0e0e0;
}

/* 의뢰내용 텍스트 */
.detail-request-text{
    position: absolute;
    left: 55%;
    top: 21%;
}

/* 등록 버튼 */
.submit-btn{
    border: none;
    width: 90%;
    height: 5%;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    color: white;
    background-color: #ff8e47;
    position: absolute;
    left: 4.5%;
    top: 92%;
}


