/* price */
.order-price{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 50px;
    flex-basis: 300px;
    position: relative;
    padding-top: 15px;
    top: 3%;
}

.amount-item-1{
    flex-shrink: 1;
    position: absolute;
    left: 5%;
    color: #7c7c7c;
}

.amount-item-2{
    flex-grow: 3;
    position: absolute;
    right: 10%;
    color: #7c7c7c;
}

.fee-item-1{
    flex-shrink: 1;
    position: absolute;
    left: 5%;
    color: #7c7c7c;
}

.fee-item-2{
    flex-grow: 3;
    position: absolute;
    right: 10%;
    color: #7c7c7c;
}

.point-item-1{
    flex-shrink: 1;
    position: absolute;
    left: 5%;
    color: #7c7c7c;
}

.point-item-2{
    flex-grow: 3;
    position: absolute;
    right: 10%;
    color: #7c7c7c;
}

.total-item-1{
    flex-shrink: 1;
    position: absolute;
    left: 5%;
    color: #333333;
}

.total-item-2{
    flex-grow: 3;
    position: absolute;
    right: 10%;
    color: #333333;
    font-weight: bold;
}

.empty-space{
    border-top: 0.1px solid #cacaca;;
    width: 90%;
    position: absolute;
    left: 5%;
    top: 47%;
}

.payment-btn{
    margin-top: 3%;
    border: none;
    width: 90%;
    height: 5%;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    color: white;
    background-color: #ff8e47;
    position: relative;
    left: 5%;
}