body{
    margin: 0;
}

.none{
    border-top: 0.1px solid #cacaca;
    width: 100%;
}

/* payment */
.payment{
    position: absolute;
    left: 10%;
    top: 26%;
    width: 40%;
    height: 100vh;
    border: none;
}

.payment-text{
    position: absolute;
    left: 10%;
    top: 21%;
}

/* order */
.order-list {
    height: 200px;
    border: 0.1px solid #cacaca;
    border-radius: 5px;
    font-size: 12px;
}

.order-list > h3 {
    position: relative;
    left: 3%;
}

.order-img{
    display: inline-block;
    width: 100%;
}

.order-img > img {
    width: 14%;
    height: 10%;
}

/* seller */
.seller-information {
    height: 100px;
    position: relative;
    top: 5%;
    border: 0.1px solid #cacaca;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
}

.payment-detail {
    height: 240px;
    position: relative;
    top: 10%;
    border: 0.1px solid #cacaca;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
}

/* request */
.request-detail{
    height: 273px;
    position: relative;
    top: 15%;
    border: 0.1px solid #cacaca;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
}


/* price */
.price{
    position: absolute;
    left: 55%;
    top: 250px;
    width: 35%;
    height: 100vh;
    border: 0.1px solid #cacaca;
    border-radius: 5px;
    text-align: center;
}