body{
    margin: 0;
}

.none{
    border-top: 0.1px solid #cacaca;
    width: 100%;
}

.complete-order-section{
	height: 1000px;
}

.order-list {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 90%;
    height: 30%;
    border: 0.1px solid #cacaca;
    border-radius: 5px;
    font-size: 12px;
}

.order-text{
	position: relative;
	left: 20%;
}

.img{
	position: relative;
	width: 400px;
	height: 200px;
}

.item-2{
	display: inline-block;
	position: absolute;
	top: 22%;
	font-size: 20px;
}

.item-3{
	display: inline-block;
	position: absolute;
	top: 40%;
	margin-left: 1%;
	font-size: 20px;	
}

.item-4{
	display: inline-block;
	position: absolute;
	top: 50%;
	margin-left: 1%;
	font-size: 20px;	
}

.order-list > h1 {
    position: relative;
    left: 3%;
    top: 2%;
    font-size: 25px;
}

.complete-text{
    position: absolute;
    top: 20%;
    left: 45%;
    font-size: 25px;
    color: #a3a3a3;
}

h4 {
    margin: 10px;
}

/* 의뢰내용 */
.request-space{
	position: absolute;
    top: 65%;
    left: 5%;
    width: 90%;
    height: 50%;
    border: 0.1px solid #cacaca;
    border-radius: 5px;
    font-size: 12px;
}

.request-title{
	position: relative;
    border: 0.1px solid #e0e0e0;
    border-radius: 5px;
    width: 87%;
    height: 50px;
    font-size: 15px;
    background-color: #e0e0e0;
}

.request-contents{
	position: relative;
    border: 0.1px solid #e0e0e0;
    border-radius: 5px;
    width: 87%;
    height: 350px;
    font-size: 15px;
    background-color: #e0e0e0;
}

.request{
	position: relative;
	top: 5%;
	left: 5%;
}


.object{
	position: relative;
	font-weight: bold;
	font-size: 18px;
}

.amount-item-1{
    color: #a3a3a3;
}

.amount-item-2{
    flex-grow: 1;
    color: #ff8e47;
}

.fee-item-1{
    color: #a3a3a3;
}

.fee-item-2{
    color: #ff8e47;
}
